body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-color-overlay {
 background-color: rgba(0, 0, 0, 0.5); /* Replace with your desired background color */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.shimmer {
  display: inline-block;
  position: relative;
  overflow: hidden;
  animation: shimmer 2s infinite;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.1) 100%);
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Media queries for responsiveness */
@media (max-width: 767px) {
  .bg-color-overlay {
    background-color: rgba(0, 128, 128, 0.8); /* Adjust the color for mobile view */
  }
}





.flex-container {
  display: flex;
}

.content-container {
  flex: 1;
}

.sidebar-container {
  width: 0;
  overflow: hidden;
  transition: width 0.3s;
}

.sidebar-container.open {
  width: 150px;
}

.toggle-button {
  /* Your existing styles */
}

.sidebar {
  /* Sidebar styles */
}

.image-size {
  height: 4¸00px; /* Adjust the height as needed */
}